#side-search-tab {
  visibility: hidden;
  z-index: 2147483647;
  width: 600px;
  height: 98%;
  top: 1%;
  position: fixed;
  right: -600px;
  -webkit-transition: all 0.4s ease-out;
/*    -webkit-transform: translate3d(-(totalWidth), 0, 0);
  */
}
#side-search-tab-content {
  width: 570px;
  height: 100%;
  border: none;
}
#side-search-tab-bg {
  width: 570px;
  height: 100%;
  background-color: #fff;
  position: absolute;
  left: 30px;
  visibility: hidden;
}
#side-search-tab-noResult {
  visibility: hidden;
}
#side-search-navigation {
  float: left;
  width: 30px;
  height: 100%;
  background-color: #808080;
}
#side-search-navigation button:nth-child(1) {
  background-position: 30px 0;
}
#side-search-navigation button:nth-child(2) {
  background-position: 60px 0;
}
#side-search-navigation button:nth-child(3) {
  background-position: 90px 0;
}
#side-search-navigation button:nth-child(4) {
  background-position: 120px 0;
}
#side-search-navigation button:nth-child(5) {
  background-position: 150px 0;
}
#side-search-button-popout {
  position: absolute;
  bottom: 0;
}
.side-search-button {
  width: 30px;
  height: 30px;
  display: inline-block;
  background: url("icons/Small Row.png");
}
button.enabled {
  border: 1px solid #008000;
}
button.disabled {
  border: 1px solid #f00;
}
